<html>
<head>
<meta http-equiv="Content-Language" content="en-gb">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>{% block title %}HelioPanel{% endblock %}</title>

<SCRIPT LANGUAGE="JavaScript"> 
<!-- Begin
function popUp(URL) {
day = new Date();
id = day.getTime();
eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=400,height=200,left = 0,top = 0');");
}
// End -->
</script> 

</head>

<body bgcolor="#E9C55C" style="margin-top:0px; margin-left:0px; margin-right:0px;">

<div align="center">

<table width="100%" cellspacing=0 cellpadding=5 style="border-radius:10px;" bgcolor="#FFFFFF">
<tr>

<td background="{{ asset('img/headerbg.png') }}"></td>
<td background="{{ asset('img/header-shadow-l.png') }}" width=5></td>

<td height=102 style="background-image:url('{{ asset('img/toplogo.png') }}'); background-repeat:no-repeat;" width="700">
	<p align="right"><font face="Verdana" color="#FFFFFF" size="5"><b>HelioPanel</b><br>
	0/250MB</font></td>
	
<td background="{{ asset('img/header-shadow-r.png') }}" width=5></td>
<td background="{{ asset('img/headerbg.png') }}"></td>
	
</tr>
<tr>
<td height=5 bgcolor="#DAAE36"></td>
<td height=5 bgcolor="#DAAE36"></td>
<td height=5 bgcolor="#DAAE36"></td>
<td height=5 bgcolor="#DAAE36"></td>
<td height=5 bgcolor="#DAAE36"></td>
</tr>

<tr>
<td bgcolor="#F5F1E5"></td>
<td bgcolor="#DAAE36" background="{{ asset('img/body-shadow-l.png') }}"></td>
<td bgcolor="#F5F1E5">
<!-- Header -->

{% block body %}{% endblock %}

<!-- Footer -->
</td>
<td bgcolor="#DAAE36" background="{{ asset('img/body-shadow-r.png') }}"></td>
<td bgcolor="#F5F1E5"></td>
</tr>

<tr>
<td bgcolor="#F5F1E5" background="{{ asset('img/footer-bg.png') }}"></td>
<td bgcolor="#DAAE36" background="{{ asset('img/footer-shadow-l.png') }}"></td>
<td bgcolor="#F5F1E5" background="{{ asset('img/footer-bg.png') }}" height="87">
<p align="center">
<span class="Apple-style-span" style="border-collapse: separate; color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-align: -webkit-auto; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; -webkit-text-decorations-in-effect: none; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; font-size: medium; ">
<span class="Apple-style-span" style="color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 16px; text-align: center; ">
© Copyright Helio Networks 2011. All trademarks and copyrights are property of 
their respective owners.<br>
</span></span>
<span class="Apple-style-span" style="border-collapse: separate; color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-align: -webkit-auto; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-border-horizontal-spacing: 0px; -webkit-border-vertical-spacing: 0px; -webkit-text-decorations-in-effect: none; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; font-size: medium; ">
<span class="Apple-style-span" style="color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 16px; text-align: center; ">
HelioPanel 0.1 BETA</span></span></p>
<p></td>
<td bgcolor="#DAAE36" background="{{ asset('img/footer-shadow-r.png') }}"></td>
<td bgcolor="#F5F1E5" background="{{ asset('img/footer-bg.png') }}"></td>
</tr>

</table>

</div>

</body>

</html>
