
	<form method="post" action="{{ url('file_rename') }}" {{ form_enctype(form) }}>
		{{ form_widget(form.path, { 'id':'current-file' }) }}
		New file name:{{ form_widget(form.newPath) }}

		{{ form_rest(form) }}
	</form>
